<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- class binder is a js object, so kebab case must be written as a literal -->
            <img v-bind:src="image" :class="{ 'out-of-stock-img': !inStock }">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <div 
              v-for="variant in variants" 
              :key="variant.id" 
              @mouseover="updateImage(variant.image)"
              class="color-circle" 
              :style="{ backgroundColor: variant.color}"
            ><!-- binds inline css for background color to be color based on variant iterator -->
            </div>

            <button class="button" 
              :disabled="!inStock" 
              @click="addToCart"
              :class="{ disabledButton: !inStock }"
              >Add to Cart</button>
              <!-- bind attribute binds style class to button as an object to work as an inline style with logic-->
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
